@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: wheat;
}

.notes_app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20pxpx;
}

.notes_app h1 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.notes_items {
  display: flex;
  align-items: center;
  margin: 16px 0;
  padding: 15px;
  border: 2px black;
  border-radius: 10px;
  background-color: white;
}

.notes_items__body {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  padding-left: 7px;
  border-left: 20px;
  flex: 1;
}

.notes_items__title {
  padding: 5px 0;
  font-size: 20px;
}
.notes_items__date {
  color: #aaa;
}
.notes_items__textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  height: 150px;

  border-radius: 10px;
  resize: none;
}

.notes_items__deleteButton , .notes_items__archiveButton{
  cursor: pointer;
  padding: 9px;
  margin-left: 10px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: 0;
  border-radius: 10px;
}
.notes_input {
  background-color: white;
  border: 1px black;
  padding: 20px;
  margin: 11px 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.notes_input input{
  display: block;
  border-radius: 10px;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
}

.notes_input textarea{
  border: 1 black;
  display: block;
  border-radius: 10px;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
  height: 150px;
}

.notes_input button {
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}
.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}
.notes-search {
  padding: 7px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: white;
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.notes_app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.notes_app h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}


.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.notes_input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.notes_input input, .notes_input textarea {
  display: block;
  width: 100%;
}

.notes_items__title {
  font-weight: bold;
}

.notes_items__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.notes-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.notes-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.notes-item__content {
  padding: 12px;
  flex: 1;
}

.notes_item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
} */
