@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: wheat;
}

.notes_app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20pxpx;
}

.notes_app h1 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.notes_items {
  display: flex;
  margin: 16px 0;
  padding: 15px;
  border: 2px black;
  border-radius: 10px;
  background-color: white;
  flex-direction: column;
}

.notes_items__body {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  padding-left: 7px;
  border-left: 20px;
  flex: 1;
}

.notes_items__title {
  padding: 5px 0;
  font-size: 20px;
}
.notes_items__date {
  color: #aaa;
}
.notes_items__textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  height: 150px;
  border-radius: 10px;
  resize: none;
}

.notes_items__deleteButton{
  cursor: pointer;
  padding: 9px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: 0;
  border-radius: 10px;
}
.notes_items__archiveButton, .notes_items__unArchiveButton{
  cursor: pointer;
  padding: 9px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  background-color: rgb(255, 128, 0);
  color: white;
  border: 0;
  border-radius: 10px;
}

.notes_items__archiveButton.isArchive{
  display: none;
}

.notes_input {
  background-color: white;
  border: 1px black;
  padding: 20px;
  margin: 11px 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.notes_input input{
  display: block;
  border-radius: 10px;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
}

.notes_input textarea{
  border: 1 black;
  display: block;
  border-radius: 10px;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
  height: 150px;
}

.notes_input button {
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}
.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}
.notes-search {
  padding: 7px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.notes_items__tangal{
  font-size: 14px;
  color: #aaa;
}